<div id="<%= dom_id inventory %>" class="inventory">
  <p>
    <strong>Name:</strong>
    <%= inventory.name %><br />
     <strong>Description:</strong>
    <%=inventory.description%>
    <% if can? :delete, inventory %><%= button_to "Remove", inventory, method: :delete %><% end %>
  </p>

</div>
