<div id="<%= dom_id inventory %>" class="inventory">
  <p>
    <strong>Name:</strong>
    <%= inventory.name %><br />
     <strong>Description:</strong>
    <%=inventory.description%>
    <%= button_to "Remove", inventory, method: :delete %>

  </p>

</div>
