<p style="color: green"><%= notice %></p>

<h1>Inventories</h1>

<section>
  <div id="inventories" class="d-flex flex-column gap-3">
    <% if @inventories.empty? %>
      <div class="empty_div">
        <h2>Ops, you don't have inventories!</h2>
      </div>
    <% else %>
      <% @inventories.each do |inventory| %>
        <%= render inventory %>
      <% end %>
    <% end %>
</div>
</section>
<%= link_to "New inventory", new_inventory_path, class: 'btn btn-primary', id: 'no-blue' %>

 