<h1>New inventory</h1>

<p>find me in views/inventories/new.html.erb</p>
<p>my path is: new_inventory_path /inventories#new </p>


<%= render "form", inventory: @inventory %>

<br>

<div>
  <%= link_to "Back to inventories", inventories_path %>
</div>
