<div id="<%= dom_id recipe %>">
  <div>
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>
  <% if can? :destroy, recipe %>
    <%= link_to 'Remove',
      recipe_path(recipe), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
     %>    
  <% end %>
  </div>
  <div>
  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>
</div>
</div>

